<% include header %>
<h1 style="text-align: center; margin: 3rem;"> Armas</h1>
  </table>
  <table class="table table-hover" style="margin-top: 3rem;">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Información</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><img src="../recursos/puerta.png" alt="Puerta" style="width: 2rem; height: 2rem;"></th>
        <td>puerta </td>
        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
      </tr>
      <tr>
        <th scope="row"><img src="../recursos/zcubeta.jpg" alt="cuebeta" style="width: 2rem; height: 2rem;"></th>
        <td>Cubeta </td>
        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
      </tr>
      <tr>
        <th scope="row"><img src="../recursos/zperiodico.jpg" alt="Periodico" style="width: 2rem; height: 2rem;"></th>
        <td>Periodico</td>
        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
      </tr>
    </tbody>
  </table>
<% include footer %>