<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Manual de Zombies</title>
    <link rel="stylesheet" href="../recursos/bootstrap.min.css">
    <link rel="stylesheet" href="../recursos/style.css">
    </head>
    <body>
        
        
        
       
        <br>
          <ul class="nav nav-tabs">
              <li class="nav-item">
                <br>
                  <a href="/"><img src="../recursos/logo.png" alt="Logo" style="width:180px; height:59px; margin:25px;"></a>
                </li>
              <li class="nav-item">
                  <br>
                  <br>
                  <a class="nav-link active p-3 mb-2 bg-dark text-white" href="/">Inicio</a>
                </li>
            <li class="nav-item">
                <br>
                <br>
              <a class="nav-link active p-3 mb-2 bg-dark text-white" href="/clases">Clases</a>
            </li>
            <li class="nav-item">
                <br>
                <br>
              <a class="nav-link active p-3 mb-2 bg-dark text-white" href="/armas">armas </a>
            </li>
            <li class="nav-item">
                <br>
                <br>
              <a class="nav-link active p-3 mb-2 bg-dark text-white" href="/victimas">Victimas</a>
            </li>
          </ul>
    </body>